@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    width: 100% auto;
    height: 100% auto;
}

header{
    margin-top: 96px;
    background: #ffffff;
    text-align: center;
    align-items: center;
}
.cabeçalho{
    position: relative;
    width: 100% auto;
    margin: 0 auto;
    text-align: center;
    display: flex; 
    align-items: center;
}
h1 img {
    max-height: 50px;
    margin-left: 40px; 
}
nav {
    position: relative;
    top: 0;
    display: inline-block;
    margin-top: 5px;
    justify-content: space-between;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style: none; 
    margin-left: 90px;
}
nav li {
    display: inline-block;
    margin: 0 15px; 
}
nav a {
    color: #667085;
    text-decoration: none;
}

.btn{
    margin-left: 400px;
}


.cadastro{
    color: #ffffff;
    padding: 10px;
    background-color: #8E2424;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cadastro:hover{
    transition: 0.7s ease;
    background-color: #b13333;
}

.landing-page p{
    color: #667085;
}

.landing-page span{
    color: #8E2424;
}

section.metricas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 100px;
}

section.metricas p{
    font-size: 14px;
    color: #667085;
}

section.metricas h3{
    font-size: 17px;
}

section.metricas h1{
    font-size: 3rem;
    color: #8E2424;
}